body {
  font-family: sans-serif;
}

.tabs {
  background-color: lightcyan;
  font-family: "lucida grande", sans-serif;
}

.tabs__tablist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.tabs__timer {
  background-color: blueviolet;
  border: 1px solid red;
  grid-column: 1;  
  grid-row: 1;  
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 30px;
}

.tabs__tab {
  grid-column: 1/-1;
  grid-row: 2;
}

.tabs__timer::after {
  background-color: orangered;
  content: '';
  height: 100%;
  position: absolute;
  top: -100%;
  width: 100%;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.3em 0.5em 0.4em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0.2em 0.2em 0 0;
  box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: hsl(220, 20%, 94%);
}

@media only screen and (min-width: 500px) {
  .tabs {
    background-color: blanchedalmond;
  }

  .tabs__tablist {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .tabs__timer {
    background-color: blueviolet;
    border: 1px solid red;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 30px;
  }
  
  .tabs__timer::after {
    background-color: orangered;
    content: '';
    height: 100%;
    position: absolute;
    top: -100%;
    width: 100%;
  }
}
